<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<a href="/profile"><button>Profile</button></a>
<div th:each="items,iStat:${itemsPage.content}">
    <div class="container-fluid">
        <div class="img-fluid">
            <a th:href="@{'/oneitem/'}+${items.id}">
                <img  th:src="@{${items.image}}"><h5  th:text="${items.name}"></h5>
            </a>
        </div>
    </div>
</div>
<div th:if="${itemsPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/allitems(size=${itemsPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==itemsPage.number + 1} ? active" class="section"></a>
</div>
</div>

</body>
</html>