<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class = "container-fluid">
    <div class ="section">
        <div class ="logo"><img class="logoimg" src="/download.jpg" alt="Gio"></div>
        <div class ="UL-menu">
            <h1>Shirts for everybody!!!</h1>
        </div>
    </div>
    <div class = "crud-bar">
        <a href="/index">
            <button class="btn-crud">Main menu</button>
        </a>
        <a href="/Create_items/">
            <button class="btn-crud">Create</button>
        </a>
        <a href="/Update_item/">
            <button class="btn-crud">Update</button>
        </a>
        <a href="/Delete">
            <button class="btn-crud">Delete</button>
        </a>
    </div>
    <div class="section-one">
        <div class="column-options">
            <button class ="btn-1">Shirts</button>
            <button class ="btn-1">Tshirts</button>
            <button class ="btn-1">Polo</button>
        </div>
        <div class="column-images">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
            <img class="img" src="download.jpg" alt="Girl in a jacket">
        </div>
    </div>

</div>


</body>
</html>