<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "front">
    <div class = "logo">Logo</div>
    <div class = "title"><h1>T-Shirts for everyone</h1></div>
</div>
<div class = "context">
    <div class = "menu">
        <h1>Skirts</h1>
        <h1>T-Shirts</h1>
        <h1>Shirts</h1>
    </div>
    <div class = "display-item">
        <div>Item image</div>
        <div>Item description</div>
        <div></div>
    </div>
</div>

</body>
</html>