<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "front">
    <div class = "logo">Logo</div>
    <div class = "title"><h1>T-Shirts for everyone</h1></div>
</div>
<div class = "crud-bar">
    <a href="/index">
        <button class="btn-crud">Main menu</button>
    </a>
    <a href="/Create">
        <button class="btn-crud">Add Tshirt</button>
    </a>
    <a href="/Update">
        <button class="btn-crud">Update</button>
    </a>
    <a href="/Delete">
        <button class="btn-crud">Delete</button>
    </a>
</div>
<div class = "update-form">

</div>
</body>
</html>