<!DOCTYPE html>
<html lang="en"> <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class = "front">
    <div class = "logo">Logo</div>
    <div class = "title"><h1>T-Shirts for everyone</h1></div>
</div>
<div class = "crud-bar">
    <a href="/index">
        <button class="btn-crud">Main menu</button>
    </a>
    <a href="/Create">
        <button class="btn-crud">Add Tshirt</button>
    </a>
    <a href="/Update">
        <button class="btn-crud">Update</button>
    </a>
    <a href="/Delete">
        <button class="btn-crud">Delete</button>
    </a>
</div>
<form action="/Update_item" method="post">
    <label>Item ID: </label>
    <input type="text" name="id" th:value="${itemsmodel.id}" readonly >
    <br/>
    <br/>
    <label>sales_id?: </label>
    <input type="text" name="sales_id" th:value="${itemsmodel.sales_id}" required />
    <br/>
    <br/>
    <label>Enter size: </label>
    <input type="text" name="size" th:value="${itemsmodel.size}" required>
    <br/>
    <br/>
    <label>Enter price: </label>
    <input type="text" name="price" th:value="${itemsmodel.price}" required>
    <br/>
    <br/>
    <label>Enter name: </label>
    <input type="text" name="name" th:value="${itemsmodel.name}" required>
    <br/>
    <br/>
    <label>Enter stock: </label>
    <input type="text" name="stock" th:value="${itemsmodel.stock}" required>
    <br/>
    <br/>
    <label>Enter type: </label>
    <input type="text" name="type" th:value="${itemsmodel.type}" required>
    <br/>
    <br/>
    <label>Enter ratings: </label>
    <input type="text" name="ratings" th:value="${itemsmodel.ratings}" required>
    <br/>
    <br/>
    <label>Enter quantity: </label>
    <input type="text" name="quantity" th:value="${itemsmodel.quantity}" required>
    <br/>
    <br/>
    <div style="text-align:center">
        <input type="submit" value="Save Changes">
    </div>
</form>
</body>
</html>